<a href="https://colab.research.google.com/github/Faith-InsightData/MusicWave_-Project/blob/main/Copy_of_MusicWave_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chinook Database Analysis Assignment**

## **Scenario:**

You are a data analyst at **MusicWave Inc.**, a company that specializes in music distribution and sales. Your company uses the Chinook database to manage its music collection, sales, and customer information. Recently, your manager has tasked you with analyzing the database to extract valuable insights that can help the company make informed business decisions.

## **Introduction to the Chinook Database:**

The Chinook database is a sample database that represents a digital media store. It includes tables for:
- **Artists**: Information about the music artists.
- **Albums**: Information about the albums, each linked to an artist.
- **Tracks**: Information about individual tracks, including which album they belong to.
- **Customers**: Information about the customers.
- **Invoices**: Information about sales transactions.
- **InvoiceLines**: Detailed information about each item in an invoice.
- **Genres**: Information about the genres of the tracks.
- **MediaTypes**: Information about the types of media.
- **Employees**: Information about the employees.

The database schema allows for complex queries to analyze various aspects of the music store's operations.

## **Getting Started:**

### **Download the Chinook Database**

1. Download the Chinook SQLite database from [here](https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite).

2. Upload the `Chinook_Sqlite.sqlite` file to your Google Colab environment.

### **Setting Up the Environment**

Run the following cells to set up your environment and connect to the Chinook database.

```python
# Install sqlite3 library (if not already installed)
!pip install sqlite3

# Import necessary libraries
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Execute a query
query = "SELECT * FROM sqlite_master where type='table'"

df = pd.read_sql_query(query, conn)
df[['type','name']]

     type           name
0   table          Album
1   table         Artist
2   table       Customer
3   table       Employee
4   table          Genre
5   table        Invoice
6   table    InvoiceLine
7   table      MediaType
8   table       Playlist
9   table  PlaylistTrack
10  table          Track

In [2]:
# Read the first five rows from the Album table
df = pd.read_sql_query("SELECT * FROM album limit 5", conn)

### **Question 1: List All Tables**

**Scenario:**  
Your manager, Alex, is new to the team and is trying to understand the structure of the Chinook database. Alex asks you to provide a list of all the tables in the database to get an overview of the available data.

**Task:**  
Write a query to list all tables in the Chinook database.

In [9]:
import sqlite3

conn = sqlite3.connect('Chinook_Sqlite.sqlite')  # Replace with your database file
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cursor.fetchall()

for table in tables:
    print(table[0])

conn.close()

Album
Artist
Customer
Employee
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track

### **Question 2: Retrieve Top 10 Records from the Albums Table**

**Scenario:**  
Alex wants to familiarize himself with the kind of albums stored in the database. He asks you to fetch a sample of the album records to get a better idea of the data.

**Task:**  
Write a query to retrieve the top 10 records from the Albums table.

---

In [14]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# Read the first 10 rows from the Album table
df = pd.read_sql_query("SELECT * FROM Album LIMIT 10", conn) # Changed table name to 'Album'

# Print the dataframe
print(df)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3
5        6                     Jagged Little Pill         4
6        7                               Facelift         5
7        8                         Warner 25 Anos         6
8        9         Plays Metallica By Four Cellos         7
9       10                             Audioslave         8


### **Question 3: Count the Number of Tracks per Genre**

**Scenario:**  
To plan a marketing campaign, Alex needs to know which genres are most represented in the music store. He asks you to count the number of tracks available for each genre.

**Task:**  
Write a query to count the number of tracks per genre.

---

In [18]:
# Reconnect to the database
conn = sqlite3.connect('Chinook_Sqlite.sqlite') # Changed Chinook_Sqlite.sqlite to 'Chinook_Sqlite.sqlite'

# Query to count the number of tracks per genre
query_tracks_per_genre = """
    SELECT g.Name, COUNT(t.TrackId) as TrackCount
    FROM Genre g
    JOIN Track t ON g.GenreId = t.GenreId
    GROUP BY g.Name
    ORDER BY TrackCount DESC;
"""

# Execute the query and fetch the result
cursor = conn.cursor()
cursor.execute(query_tracks_per_genre)
tracks_per_genre = cursor.fetchall()

# Close the cursor and connection
cursor.close()
conn.close()

# Display the result
tracks_per_genre

[('Rock', 1297),
 ('Latin', 579),
 ('Metal', 374),
 ('Alternative & Punk', 332),
 ('Jazz', 130),
 ('TV Shows', 93),
 ('Blues', 81),
 ('Classical', 74),
 ('Drama', 64),
 ('R&B/Soul', 61),
 ('Reggae', 58),
 ('Pop', 48),
 ('Soundtrack', 43),
 ('Alternative', 40),
 ('Hip Hop/Rap', 35),
 ('Electronica/Dance', 30),
 ('World', 28),
 ('Heavy Metal', 28),
 ('Sci Fi & Fantasy', 26),
 ('Easy Listening', 24),
 ('Comedy', 17),
 ('Bossa Nova', 15),
 ('Science Fiction', 13),
 ('Rock And Roll', 12),
 ('Opera', 1)]

### **Question 4: Calculate the Total Sales by Country**

**Scenario:**  
Alex is interested in understanding the revenue distribution across different countries. He asks you to calculate the total sales generated from each country.

**Task:**  
Write a query to calculate the total sales by country.

In [25]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite') # Changed database name to Chinook_Sqlite.sqlite

# SQL query to calculate total sales by country
# Changed table and column names to match the Chinook_Sqlite.sqlite database
query = """
SELECT BillingCountry, SUM(Total) AS Total_Sales
FROM Invoice
GROUP BY BillingCountry;
"""

# Execute the query and load the results into a pandas DataFrame
total_sales_by_country = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the results
print(total_sales_by_country)

    BillingCountry  Total_Sales
0        Argentina        37.62
1        Australia        37.62
2          Austria        42.62
3          Belgium        37.62
4           Brazil       190.10
5           Canada       303.96
6            Chile        46.62
7   Czech Republic        90.24
8          Denmark        37.62
9          Finland        41.62
10          France       195.10
11         Germany       156.48
12         Hungary        45.62
13           India        75.26
14         Ireland        45.62
15           Italy        37.62
16     Netherlands        40.62
17          Norway        39.62
18          Poland        37.62
19        Portugal        77.24
20           Spain        37.62
21          Sweden        38.62
22             USA       523.06
23  United Kingdom       112.86


### **Question 5: Identify the Top 5 Customers by Total Purchase Amount**

**Scenario:**  
To improve customer relationship management, Alex wants to identify the top spenders. He asks you to find out who the top 5 customers are based on their total purchase amount.

**Task:**  
Write a query to identify the top 5 customers by total purchase amount.

---

In [26]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# SQL query to find the top 5 customers by total purchase amount
query = """
SELECT c.CustomerId, c.FirstName, c.LastName, SUM(i.Total) AS TotalPurchaseAmount
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId, c.FirstName, c.LastName
ORDER BY TotalPurchaseAmount DESC
LIMIT 5;
"""

# Execute the query and load the results into a pandas DataFrame
top_customers = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the results
print(top_customers)

   CustomerId FirstName    LastName  TotalPurchaseAmount
0           6    Helena        Holý                49.62
1          26   Richard  Cunningham                47.62
2          57      Luis       Rojas                46.62
3          45  Ladislav      Kovács                45.62
4          46      Hugh    O'Reilly                45.62


### **Question 6: Find the Most Popular Artist by Total Track Sales**

**Scenario:**  
Alex wants to identify the most popular artist in the store based on track sales. He asks you to find out which artist has the highest total track sales.

**Task:**  
Write a query to find the most popular artist by total track sales.

---

In [27]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# SQL query to find the most popular artist by total track sales
query = """
SELECT ar.Name, SUM(il.Quantity) AS TotalTrackSales
FROM Artist ar
JOIN Album al ON ar.ArtistId = al.ArtistId
JOIN Track t ON al.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY ar.Name
ORDER BY TotalTrackSales DESC
LIMIT 1;
"""

# Execute the query and load the results into a pandas DataFrame
popular_artist = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the results
print(popular_artist)

          Name  TotalTrackSales
0  Iron Maiden              140


### **Question 7: Determine the Average Invoice Total by Customer Country**

**Scenario:**  
To understand the purchasing behavior of customers from different countries, Alex asks you to determine the average invoice total for each country.

**Task:**  
Write a query to determine the average invoice total by customer country.

---

In [28]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# SQL query to determine the average invoice total by customer country
query = """
SELECT BillingCountry, AVG(Total) AS AverageInvoiceTotal
FROM Invoice
GROUP BY BillingCountry;
"""

# Execute the query and load the results into a pandas DataFrame
avg_invoice_total = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the results
print(avg_invoice_total)

    BillingCountry  AverageInvoiceTotal
0        Argentina             5.374286
1        Australia             5.374286
2          Austria             6.088571
3          Belgium             5.374286
4           Brazil             5.431429
5           Canada             5.427857
6            Chile             6.660000
7   Czech Republic             6.445714
8          Denmark             5.374286
9          Finland             5.945714
10          France             5.574286
11         Germany             5.588571
12         Hungary             6.517143
13           India             5.789231
14         Ireland             6.517143
15           Italy             5.374286
16     Netherlands             5.802857
17          Norway             5.660000
18          Poland             5.374286
19        Portugal             5.517143
20           Spain             5.374286
21          Sweden             5.517143
22             USA             5.747912
23  United Kingdom             5.374286

### **Question 8: Analyze Employee Sales Performance**

**Scenario:**  
Alex wants to evaluate the performance of the sales team. He asks you to analyze the sales performance of each employee.

**Task:**  
Write a query to analyze the sales performance of each employee.

---

In [29]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# SQL query to analyze employee sales performance
query = """
SELECT e.FirstName, e.LastName, SUM(i.Total) AS TotalSales
FROM Employee e
JOIN Customer c ON e.EmployeeId = c.SupportRepId
JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY e.EmployeeId
ORDER BY TotalSales DESC;
"""

# Execute the query and load the results into a pandas DataFrame
employee_sales = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the results
print(employee_sales)

  FirstName LastName  TotalSales
0      Jane  Peacock      833.04
1  Margaret     Park      775.40
2     Steve  Johnson      720.16

### **Question 9: Identify Trends in Monthly Sales**

**Scenario:**  
Alex wants to identify sales trends over time. He asks you to analyze the monthly sales data to spot any trends.

**Task:**  
Write a query to identify trends in monthly sales.

---

In [30]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

# SQL query to analyze monthly sales trends
query = """
SELECT STRFTIME('%Y-%m', InvoiceDate) AS SalesMonth, SUM(Total) AS MonthlySales
FROM Invoice
GROUP BY SalesMonth
ORDER BY SalesMonth;
"""

# Execute the query and load the results into a pandas DataFrame
monthly_sales = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the results
print(monthly_sales)

   SalesMonth  MonthlySales
0     2009-01         35.64
1     2009-02         37.62
2     2009-03         37.62
3     2009-04         37.62
4     2009-05         37.62
5     2009-06         37.62
6     2009-07         37.62
7     2009-08         37.62
8     2009-09         37.62
9     2009-10         37.62
10    2009-11         37.62
11    2009-12         37.62
12    2010-01         52.62
13    2010-02         46.62
14    2010-03         44.62
15    2010-04         37.62
16    2010-05         37.62
17    2010-06         37.62
18    2010-07         37.62
19    2010-08         37.62
20    2010-09         36.63
21    2010-10         37.62
22    2010-11         37.62
23    2010-12         37.62
24    2011-01         37.62
25    2011-02         37.62
26    2011-03         37.62
27    2011-04         51.62
28    2011-05         42.62
29    2011-06         50.62
30    2011-07         37.62
31    2011-08         37.62
32    2011-09         37.62
33    2011-10         37.62
34    2011-11         23.76
35    2011-12         37.62
36    2012-01         37.62
37    2012-02         37.62
38    2012-03         37.62
39    2012-04         37.62
40    2012-05         37.62
41    2012-06         37.62
42    2012-07         39.62
43    2012-08         47.62
44    2012-09         46.71
45    2012-10         42.62
46    2012-11         37.62
47    2012-12         37.62
48    2013-01         37.62
49    2013-02         27.72
50    2013-03         37.62
51    2013-04         33.66
52    2013-05         37.62
53    2013-06         37.62
54    2013-07         37.62
55    2013-08         37.62
56    2013-09         37.62
57    2013-10         37.62
58    2013-11         49.62
59    2013-12         38.62

### **Question 10: Recommend Marketing Strategies Based on Data Insights**

**Scenario:**  
Based on the insights you have gathered from the previous queries, Alex asks you to recommend at least two marketing strategies that MusicWave Inc. should consider to increase sales and customer satisfaction.

**Task:**  
Based on your analysis, write a brief recommendation for two marketing strategies that could help MusicWave Inc. increase sales and improve customer satisfaction.

Based on the data insights gathered from previous queries, here are two marketing strategies that MusicWave Inc. could implement to increase sales and improve customer satisfaction:

1. Targeted Marketing Campaigns Based on High Sales Regions
From the sales data, it's likely that some countries or regions are contributing more significantly to overall revenue. MusicWave Inc. can implement region-specific marketing strategies by:

Focusing more on high-performing regions: Deploy more targeted advertising campaigns and promotions in countries where sales are already strong. This can involve offering discounts, exclusive content, or even personalized email campaigns to customers in these regions.

Localized content: Creating marketing materials and content tailored to the preferences and culture of customers in these high-sales areas, which could further boost engagement and sales.

This strategy will help increase sales by building on the company's current strengths in specific markets and ensuring that marketing resources are spent where they have the most impact.